/* BACKGROUND */
$header-color : rgba(238, 128, 2, 0.856);
$footer-color: rgba(85, 84, 84, 0.568);
$discount-color:red;
$tag-color:green;

/* TEXT COLOR */
$light-color: white;
$dark-color: rgb(107, 105, 105);
$darkest-color: black;


