/* BACKGROUND */
$header-color : orange;
$footer-color: rgba(85, 84, 84, 0.568);
$discount-color:red;
$tag-color:green;

/* TEXT COLOR */
$light-color: white;
$dark-color: gray;
$darkest-color: black;


